/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

p {
    color: #777777;
    margin-bottom: 10px;
}

.custom-btn {
    background: #289BDE;
    border: 1px solid #289BDE;
    border-radius: 5px;
    padding: 8px 20px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
}

.custom-btn2 {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 8px 20px;
    text-align: center;
    color: #289BDE;
    font-weight: 600;
    font-size: 18px;
}

.secation-padding {
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
}

/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 48px;
    color: #777777;
    font-size: 18px;
}

/*--------------------------------------------------------------
# slider
--------------------------------------------------------------*/
.carousel-item {
    width: 100%;
}

.carousel-item::before {
    content: "";
    background: rgba(29, 29, 29, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
/*--------------------------------------------------------------
# Explore The elearning Institute
--------------------------------------------------------------*/
.explore-elearning {
    background-color: #F4FAFD;
}

/*--------------------------------------------------------------
# Ready to join?
--------------------------------------------------------------*/
.join-bg {
    background: #289BDE;
    border-radius: 5px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.join-tittle {
    padding-left: 3rem;
}

/*--------------------------------------------------------------
# footers
--------------------------------------------------------------*/
footer {
    background-color: #161616;
    padding: 40px 0px;
}

.socal-icons i {
    color: white;
    font-size: 19px;
    padding: 9px;
    background: #242424;
    border-radius: 50%;
    margin-right: 10px;
}

/* tablet  */
@media screen and (min-width:577px) and (max-width:992px) {
    .course-oline {
        font-size: 13px;
    }
    .join-tittle {
        text-align: center;
        padding-left: 0;
    }
   
}

@media screen and (max-width:576px) {
    .join-tittle {
        text-align: center;
        padding-left: 0;
    }
    .Success-card {
        text-align: center;
    }
}